{% extends "base.html" %}
{% import "_macro.html" as macro%}
{% block subtitle %} -平均使用统计{% endblock %}

{% block page_content %}
<form class="form-inline panel panel-default" action="{{url_for('manage.get_avg_app_statistics')}}", method="post">
    {{ form.csrf_token }}
	<div class="panel-body">
        <div class="form-group" style="padding-right:5px;padding-top:5px;">
			{{ form.statistics_way.label }}:
			{{ form.statistics_way(class="form-control")}}
        </div>

		<div class="form-group" style="padding-right:5px;padding-top:5px;">
			{{ form.year.label }}:
			{{ form.year(class="form-control")}}
        </div>
        <div class="form-group" id="month_div"
			 style="padding-right:5px;padding-top:5px;{% if form.statistics_way.data == 2 %}display:none{% endif %};">
			{{ form.month.label }}:
			{{ form.month(class="form-control")}}
        </div>
		<div class="form-group" id="week_div"
			 style="padding-right:5px;padding-top:5px;{% if form.statistics_way.data == 1  %}display:none{% endif %};">
			{{ form.week.label }}:
			{{ form.week(class="form-control")}}
        </div>
        <div id="day_range" class="form-group" style="padding-right:5px;padding-top:5px;"></div>
		<div class="form-group" style="padding-right:5px;padding-top:5px;">
			<a href="{{url_for('manage.get_avg_user_statistics')}}" class="btn btn-primary">重置</a>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
<div class="tab-content">
	<div class="tab-pane active">
		<table id="appinfo" class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="info">
					{% for k, v in core_apps.items() %}
					<td class="text-center">{{ k }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			<tr>
				{% for k, v in core_apps.items() %}
				<td class="text-center">{{ v }}</td>
				{% endfor %}
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="tab-content">
	<div class="tab-pane active">
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr class="info">
					{% for k, v in assist.items() %}
					<td class="text-center">{{ k }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
			<tr>
				{% for k, v in assist.items() %}
				<td class="text-center">{{ v }}</td>
				{% endfor %}
			</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
window.onload = function() {
	var obj_select = document.getElementById("statistics_way");
	obj_select.onchange = function() {
		if (this.value == 1) {
			$("#week_div").hide();
			$("#month_div").show();
			document.getElementById("day_range").innerHTML = "";
		} else {
			$("#week_div").show();
			$("#month_div").hide();
			var week_select = document.getElementById("week");
			year = document.getElementById("year").value;
			week = week_select.value;
			$.ajax({
			  url: "{{url_for('manage.get_week_day_range')}}",
			  data: {'year' : year, 'week' : week},
			  type: "GET",
			  dataType: "json",
			  async: false,
			  cache: false
			}).done(function( result ) {
				document.getElementById("day_range").innerHTML = result["data"]
			}).fail(function(result){
				var errmsg = "访问服务器出错："+fmtJqueryAjaxError(result);
				alert(errmsg);
			});

			week_select.onchange = function() {
				year = document.getElementById("year").value;
				week = this.value;
				$.ajax({
				  url: "{{url_for('manage.get_week_day_range')}}",
				  data: {'year' : year, 'week' : week},
				  type: "GET",
				  dataType: "json",
				  async: false,
				  cache: false
				}).done(function( result ) {
					document.getElementById("day_range").innerHTML = result["data"]
				}).fail(function(result){
					var errmsg = "访问服务器出错："+fmtJqueryAjaxError(result);
					alert(errmsg);
				});
			}
		}
	}
}
</script>
{% endblock %}
